{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["@typescript-eslint", "react", "prettier", "jsx-a11y"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/newline-after-import": "error",
    "prefer-arrow-callback": "error",
    "arrow-spacing": "warn"
  },
  "settings": {}
}
